---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import FaviconIcon from "../components/FaviconIcon.astro";
import { SITE_NAME, SITE_DESCRIPTION } from '../consts';
import WIP from '../assets/wip.webp';

const wikiUrl = "https://en.wikipedia.org/wiki/Law_of_triviality";
const linkedInUrl = "https://www.linkedin.com/in/colum-crowe/"
const pageTitle = "Welcome"
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_NAME} description={SITE_DESCRIPTION} />
		<style>
			.lofty-perch {
			margin: 0;
			padding: 0 1em;
			background: var(--bg);
			position: absolute;
			top: 1rem;
			left: 1rem;
			display: flex;
			align-items: center;
			justify-content: space-between;
			}
			@media (max-width: 636px) {
				.lofty-perch {
					display: none;
				}
			}
		</style>
	</head>
	<body>
		<div class="lofty-perch">
		  <FaviconIcon />
		</div>
		<Header />
		<main>
			<h3><a href={linkedInUrl}>Colum's</a> <a href={wikiUrl}>Bikeshed</a></h3><br>
			<h3>{pageTitle}</h3>
			<p>			 
			This a small website where I occasionally write, and potentially some other things.<br>
			</p>	
			<h3>Under construction</h3>
			<p>
			<img src="https://raw.githubusercontent.com/columcrowe/columcrowe.github.io/refs/heads/main/src/assets/WIP.webp" alt="wip" width="300" height="200" />
			<p>	
			<h3>Work in progress...</h3>
		</main>
	</body>
</html>
