---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import FormattedDate from '../components/FormattedDate.astro';

type Props = CollectionEntry<'posts'>['data'];

const { title, description, pubDate, updatedDate} = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
	</head>
	<body>
	    <Header />
		<script type="text/javascript" src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
		<script type="text/javascript">
		  AOS.init({
			once: true, // animation will happen only once
		  });
		</script>
		<main>
			<FormattedDate date={pubDate} />
			{
				updatedDate && (
					<div class="last-updated-on">
						Last updated on <FormattedDate date={updatedDate} />
					</div>
				)
			}
			<h1>{title}</h1>
			<div class="line-0"></div> 
			<slot />
		</main>
		<Footer />
	</body>
</html>